* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

section {
    width: 50px;
    height: 50px;
    background: #ffffff;
}

header {
    background: #2e70a9;
    padding: 10px 30px;
}

header > * {
    display: inline-block;
    vertical-align: middle;
}
main > * {
    border: #0a0c0e;
    display: inline-block;
}
.circle {
    border-radius: 100px;
}

.logoImg {
    width: 90px;
}

.menuDiv {
    background: rgba(23, 19, 19, 0.76);
    display: inline-block;
    color: #0d1013;
    float: right;
}

.menuDiv > * {
    display: inline-block;
}

.menuDiv ul li {
    list-style: none;
    display: inline-block;
}

.menuDiv ul li a {
    color: #2e67a9;
    text-decoration: none;
    padding: 25px 20px;
    display: inline-block;
    transition: ease-in-out all .5s;
}

.menuDiv ul li a:hover {
    color: #ad1010;
    font-size: large;
    background: #0a0c0e;
}

.avatar {
    width: 60px;
    vertical-align: middle;
}

.banner-photo{
    position: relative ;


}

.banner-text{
    position: absolute;
    font-style: italic;
    top: 80%;
    left: 1300%;
    color: rgb(173, 16, 16);
    padding:0px;

}
#d1{
    background: #2e67a9;
    font-family: "Arial Black";


}
#d2{
    background: #2e67a9;
    font-family: "Arial Black";
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}
.container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}

.image-section img{
    width: 100%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
    color: rgba(23, 19, 19, 0.76);
    font-size: 21px;
}
.content-section .content p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 3.5;
}
.content-section .content .button a{
    background-color: #2e67a9;
    padding: 12px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #2e67a9;
    color: #0a0c0e;
}
.content-section .social{
    margin:30px 30px;
}
.content-section .social i{
    color: #ad1010;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover{
    color: #ad1010;

}

body{
    width: 100%;
    height: 100vh;
}
.containerr{
    position: relative;
    display: flex;
    jusify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.containerr:after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgb(55, 67, 79);
    background-size: cover;
    z-index: -1;
    filter: blur(50px);

}
.contact-box{
    max-width: 850px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #698caf;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);

}
.left{
    height: 100%;

}
.right{
    padding: 25px 40px;
}
h2{
     position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h2:after{
    content: '';
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #0a0c0e;
}
.field{
    width:100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: rgba(0,0,0,0.1);
}
.field:focus{
    background-color: #fff;
    border: 2px solid rgb(21, 26, 31);
}

.area{
    min-height: 150px;
}
.button{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: white;
    cursor:pointer;
    outline:none;
    border:none;
    color: #0d1013;
    transition: .3s;
}
.button:hover{
    background-color: #2e70a9;
}